{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="container center">
	<div class="row center">
	  <h1>Guess the Word</h1>
	</div>
	<div class="row center">
	 <h4  class="message"> {{ message }} </h4>
   </div>
   <div class="row center">
	  <a type="button" onsubmit="return false;" href="/new_game" name="new-game-button" id="new-game-button">New Game</a>
  </div>
<div class="row">
	<br>
	<br>

</div>
<div class="row">
	<br>
	<br>

</div>
{% endblock %}
