{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="container center">
	<div class="row center">
	  <h1>Games</h1>
	</div>
	<div class="row center">
	 <h4  class="message"> {{ message }} </h4>
   </div>
   <div class="row center">
	
   	<div class="col-sm">
   		<h3 class="center pagestitle"><a class="pagestitle" href="{{ url_for('tictactoe_home') }}">Tic Tac Toe</h3>
   		<img src="static/media/tictactoesquare.png" class="pagesimg" alt="picture of tic tac toe board"></a>

   	</div>
	
	<div class="col-sm">
		<h3 class="center pagestitle"><a class="pagestitle" href="{{ url_for('guesstheword') }}">Guess the Word</h3>
		<img src="static/media/guesswordsquare.png" class="pagesimg" alt="picture of hangman"></a>
			 
   	</div>
   	
   	<div class="col-sm">
   		<h3 class="center pagestitle"><a class="pagestitle" href="{{ url_for('rps') }}">Rock, Paper, Scissors</h3>
   		<img src="static/media/rpssquare.png" class="pagesimg" alt="picture of Rock, Paper, Scissors icons"></a>
   			 

   	</div>

  </div>
<div class="row">
	<br>
	<br>

</div>
<div class="row">
	<br>
	<br>

</div>
{% endblock %}
