<!doctype html>
<html lang="en">
{% block head %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Guess the Word</title>
  
  <link rel="shortcut icon" href="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!--   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/puzzleimg.css') }}">
 -->  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Kameron|Merriweather" rel="stylesheet">
</head>
{% endblock %}

<body>
 
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container center">
      <div class="row center">
        <h1>Guess the Word</h1>
      </div>
      <div class="row center">
       <h4  class="message"> {{ message }} </h4>
     </div>
     <div class="row center">
        <a type="button" onsubmit="return false;" href="/new_game" name="new-game-button" id="new-game-button">New Game</a>
    </div>
 {% block content %}{% endblock %}
 {% block footer %}
    <footer class="mastfoot mt-auto center">
      Created by Tammy Laforest.
      <ul class="list-inline">
        <li class="list-inline-item"><a href="http://www.tjlaforest.com" target="_blank">Portfolio</a></li>
        <li class="list-inline-item"><a href="http://www.github.com/tammylaforest" target="_blank">GitHub</a></li>
        <li class="list-inline-item"><a href="http://www.Linkedin.com/in/tammylaforest" target="_blank">LinkedIn</a></li>
        <li class="list-inline-item"><a href="https://twitter.com/tammylaforest">Twitter</a></li>
        <li class="list-inline-item"><a href = "mailto: TammyLaforest@gmail.com">Email</a></li>
      </ul>
    </div>
  </footer>
{% endblock %}


</body>
</html>