{% extends "layout.html" %}
{% block content %}

    <div class="row center joined_list">
      <h1 >{{ joined_list }}</h1>
    </div>
    <div class="row center">
      <form action="/guess" method='POST'>
        Guess a letter or {{ n }} letter word.<br>
        <input autocomplete="off" onkeypress="return noenter()" autofocus="autofocus" type="text" name="user_input" placeholder="Guess">
        <input type="submit" value="Submit">
      </form> 
    </div>
    <div class="row center guessbox" >
      <div class="col-sm wrongguesses">
        <h5 class="wronglisttitle">Wrong Guesses</h5>
        <h3 class="wronglist">{{ wrong_list }}</h3>
      </div>

      <div class="col-sm center">
        <img src="{{ image }}" class="catimg">
      </div>
    </div>
  </div>
{% endblock %}


