{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="container center">
	<div class="row center">
	  <h1>Games</h1>
	</div>
	<div class="row center">
	 <h4  class="message"> {{ message }} </h4>
   </div>
   <div class="row center">
	<ul>
	 <li> <a class="nav-link" href="{{ url_for('guesstheword') }}">Guess the Word</a></li>
	 <li><a class="nav-link" href="{{ url_for('tictactoe_home') }}">Tic Tac Toe</a></li>
	 <li> <a class="nav-link" href="{{ url_for('rps') }}">Rock, Paper, Scissors</a></li>
	</ul>
  </div>
<div class="row">
	<br>
	<br>

</div>
<div class="row">
	<br>
	<br>

</div>
{% endblock %}
