{% extends "layout.html" %}
{% block content %}

    <div class="row center">
      <h1 >{{ joined_list }}</h1>
    </div>
    <div class="row center">
      <h1>You win!</h1>
    </div>
    <div class="row center guessbox" >
      <div class="col-sm wrongguesses">
        <h5 class="wronglisttitle">Wrong Guesses</h5>
        <h3 class="wronglist">{{ wrong_list }}</h3>
      </div>

      <div class="col-sm center">
        <img src="{{ image }}" class="catimg">
      </div>
    </div>


  {% endblock %}