  a,
  a:focus{
    color: #fff;
  }

  a:hover
  {
    color: darkorange;
    text-decoration: none
  }

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none;  Prevent inheritance from `body` 
    background-color: #fff;
    border: .05rem solid #fff;
  }

  html,
  body {
    height: 100%;
    background-color: #333;
  }

  body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
  }


    .contact-item
    {
      padding-right: 1em;
      padding-left: 1em;
      font-size: 1.2em;
    }
    .footer-contact
    {
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      text-align: center;
    }

    .mastfoot {
      color: rgba(255, 255, 255, .5);
    }

    .row {
      padding-top: .5em;
    }
    .center {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .hide {
      display: none;
    }

    .show {
      display:block;
    }

    .red
    {
      color: red;
    }

    .guessbox{
      border: 1px solid gray; 
      padding: .5em; 
      width: fit-content;
      margin: .5em;
      color: #333;
    }

    .wrongguesses{
      min-height: 3.5em;
      background-color: lightgray;
      border-radius: 50px 50px 50px 50px;
    }

   .wronglisttitle{
      padding-top: .5em;

    }
    .wronglist{
      padding: .5em;

    }

    .new-game-button {
      margin: 10px;
      background-color: darkorange;
/*      font-weight: bold;*/
      border-color: white;
    }

    .new-game-button:hover {
      margin: 10px;
      background-color: white;
      border-color: darkorange;
      color: orange;
    }

    .message {
      border: 1px solid red; 
      border-radius: 50px 20px; 
      padding: 1em;
      margin: .5em;
    }

    .catimg
    {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
