  a,
  a:focus{
    color: #fff;
    padding: 10px;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 2px solid white;

  }

  a:hover
  {
    color: darkorange;
    border-bottom: 1px solid darkorange;
    text-decoration: none;
    border-bottom: 3px solid darkorange;

  }

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    background-color: #fff;
    border: .05rem solid #fff;
  }




  body {
    height: 100%;
    background-color: #333;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
/*font-family: 'Kameron', serif;*/
/*font-family: 'IM Fell English SC', serif;*/
font-family: 'Merriweather', serif;
  }


    .contact-item
    {
      padding-right: 1em;
      padding-left: 1em;
      font-size: 1.2em;
    }
    .footer-contact
    {
/*      font-family: 'Montserrat', sans-serif;*/
      font-size: 1em;
      text-align: center;
    }

    .mastfoot {
      color: rgba(255, 255, 255, .5);
    }

    .row {
      padding-top: .5em;
    }
    .center {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .hide {
      display: none;
    }

    .show {
      display:block;
    }

    .red
    {
      color: red;
    }

    .joined_list{
      font-size: 3em;
      letter-spacing: 5px;
    }

    .guessbox{
      border: 1px solid gray; 
      padding: .5em; 
      width: fit-content;
      margin: .5em auto;
/*      margin-top: .5em;
      margin-bottom: .5em;*/
      color: #333;
      display:block;
    }

    .wrongguesses{
      min-height: 3.5em;
      background-color: lightgray;
      border-radius: 50px 50px 50px 50px;
      display: block;
    }

   .wronglisttitle{
      padding-top: .5em;

    }
    .wronglist{
      padding: .5em;

    }

    .catimg
    {
      max-width: 630px;
      width: 100%;
      height: auto;
      display: block;
      margin: 10px auto;
    }

    .new-game-button {
      margin: 10px;
      background-color: darkorange;
/*      font-weight: bold;*/
      border-color: white;
    }

    .new-game-button:hover {
      margin: 10px;
      background-color: white;
      border-color: darkorange;
      color: orange;
    }

    .message {
      border: 1px solid red; 
      border-radius: 50px 20px; 
      padding: 1em;
      margin: .5em auto;
    }


